In [ ]:
!pip install snscrape

Requirement already satisfied: snscrape in /usr/local/lib/python3.7/dist-packages (0.3.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Depression since:2022-03-01 until:2022-03-19').get_items()):
    if i>500000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text'])

In [ ]:
tweets_df2

,Datetime,Tweet Id,Text
0,2022-03-18 23:59:58+00:00,1504970902253015048,@itsjustmarsha Same. same. Separation Anxiety ...
1,2022-03-18 23:59:51+00:00,1504970870867075073,"@cherry_charline bah ça c’est moi, j’étais en ..."
2,2022-03-18 23:59:51+00:00,1504970870275588098,why does no one talk about how depression and ...
3,2022-03-18 23:59:47+00:00,1504970853523632137,"@CrimsonDullahan I know, but its the vibe with..."
4,2022-03-18 23:59:42+00:00,1504970835941109763,Time to clean my depression room :-)
...,...,...,...
299944,2022-03-01 00:00:15+00:00,1498447989601456128,@butterflybxnes probably around 11 and because...
299945,2022-03-01 00:00:15+00:00,1498447989098041351,it’s so wild when my seasonal depression just ...
299946,2022-03-01 00:00:08+00:00,1498447962028060681,@garlicblog it helped with my depression for a...
299947,2022-03-01 00:00:06+00:00,1498447954876715012,We are committed to providing better treatment...
299948,2022-03-01 00:00:00+00:00,1498447928414846981,@QuotedOnce @FactsGulde Hiding our pain isn't ...

In [ ]:
tweets_df2.to_csv('Depression_tweets3.csv')